<div class="container-fluid main">
    <div class="row">
        <div class="card col-md-9">
            <div class="card-header">
                Time Table for Today
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Time</th>
                            <th scope="col">Task</th>
                            <th scope="col">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#" class="btn btn-primary" routerLink="/calendar">See calendar</a>
            </div>
        </div>
    </div>
</div>